[CONTROLPAY_SDK]
CONTROLPAY_HOST = ''
CONTROLPAY_TIMEOUT = 25
CONTROLPAY_USER = ''
CONTROLPAY_PWD = ''
CONTROLPAY_KEY = ''
CONTROLPAY_DEFAULT_TERMINAL_ID = ''
CONTROLPAY_DEFAULT_PRODUTO_ID = ''
CONTROLPAY_DEFAULT_FORMA_PAGAMENTO_ID = ''
CONTROLPAY_DEFAULT_FORMA_AGUARDA_TEF = false
CONTROLPAY_DEFAULT_SENHA_TECNICA = ''