[CONTROLPAY_SDK]
CONTROLPAY_HOST = ''
CONTROLPAY_TIMEOUT = 20
CONTROLPAY_USER = ''
CONTROLPAY_PWD = ''
CONTROLPAY_DEFAULT_PESSOA_ID = ''
CONTROLPAY_DEFAULT_TERMINAL_ID = ''
CONTROLPAY_DEFAULT_PRODUTO_ID = ''
